# ─── Base de dados ────────────────────────────────────────────────────────────
DATABASE_URL="postgresql://postgres:123456@localhost:5432/zuno_db"

# ─── JWT ──────────────────────────────────────────────────────────────────────
JWT_ACCESS_SECRET="troca_por_um_secret_seguro_de_pelo_menos_64_chars"
JWT_REFRESH_SECRET="troca_por_outro_secret_diferente_e_seguro_de_pelo_menos_64_chars"

JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

CLOUDINARY_CLOUD_NAME="dojumw0as"
CLOUDINARY_API_KEY="276812651247778"
CLOUDINARY_API_SECRET="LCP7q9CfIfxXEQHQjAAjvhNE3fg"

PORT=3000

NODE_ENV="development"

