DATABASE_URL="postgresql://UTILIZADOR:SENHA@localhost:5432/zuno_db"

JWT_ACCESS_SECRET="SUBSTITUI_POR_STRING_ALEATORIA_DE_PELO_MENOS_64_CHARS"
JWT_REFRESH_SECRET="SUBSTITUI_POR_OUTRA_STRING_DIFERENTE_DE_PELO_MENOS_64_CHARS"

JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

CLOUDINARY_CLOUD_NAME="o_teu_cloud_name"
CLOUDINARY_API_KEY="a_tua_api_key"
CLOUDINARY_API_SECRET="o_teu_api_secret"

ALLOWED_ORIGINS="http://localhost:3001"

PORT=3000
NODE_ENV="development"
